name: Build and deploy PHP app to Azure Web App - Crud-Web-Cloud

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: php-app
          path: ./CRUD-WEB-CLOUD   # <--- HANYA ISI PROJECT, BUKAN ROOT REPO

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: php-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_FE1026B341B7437EB251FCCFDE846535 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_7F32BA568A364F9896B620F933BCC8A1 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_4F4E98A2A3894835A66F09C7ED19903C }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'Crud-Web-Cloud'
          slot-name: 'Production'
          package: .    # but this time "." adalah artifact yg sudah berisi hanya file PHP
